@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    pointer-events: auto;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    user-select: none;
    pointer-events: none !important;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #e2e2e2;
}

::-webkit-scrollbar-thumb {
  background-color: #c2c2c2;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #9e9e9e;
}

header {
    background-color: #3B3B58;
    height: 60px;
    padding: 0px 10px 0px 20px;
    cursor: default;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

header img {
    height: 28px;
    position: relative;
    top: calc(50% - 20px);
}

header .settings-btn {
    transform: rotate(0turn);
    opacity: 1;
    font-size: 23px;
    top: 0px;
    margin-right: 20px;
    -webkit-app-region: no-drag;

    transition: 0.3s transform;
}

header .settings-btn:hover {
    transform: rotate(0.25turn);
}

header .control-btn {
    height: 100%;
    margin: 0px;
    top: 0px;
    width: 60px;
    cursor: pointer;
    opacity: 1;
    background-color: #7A5980;
    -webkit-app-region: no-drag;
    z-index: 10000;
}

header .minimize:hover {
    background-color: #6a4e70;
}

header .close:hover {
    background-color: rgb(255, 107, 129);
}

header .control-btn span {
    margin: 0px;
    width: 60px;
    left: 0px;
    top: 9px;
    position: absolute;
    text-align: center;
    font-style: normal;
    font-size: 33px;
}

#header-span-anim {
    font-weight: bold;
    font-size: 28px;
    position: relative;
    top: calc(50% - 18px);
    margin-left: 7px;
    color: white;

    overflow: hidden;
    line-height: 1.2;
    display: inline-block;
    width: fit-content;
}

#header-span-noanim {
    font-weight: bold;
    font-size: 28px;
    position: relative;
    top: calc(50% - 18px);
    left: -130px;
    margin-left: 7px;
    color: white;

    overflow: hidden;
    line-height: 1.2;
    display: inline-block;
    width: fit-content;
}

#header-span-anim::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: a-ltr-before 10s cubic-bezier(.77,0,.18,1) forwards infinite;
    transform: translateX(0);
}

#header-span-anim::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: white;
    animation: a-ltr-after 10s cubic-bezier(.77,0,.18,1) forwards infinite;
    transform: translateX(-101%);
}

#header-span-anim:nth-of-type(1)::before,
#header-span-anim:nth-of-type(1)::after{
    animation-delay: 1s;
}

#header-span-anim:nth-of-type(2)::before,
#header-span-anim:nth-of-type(2)::after{
    animation-delay: 1.5s;
}

@keyframes a-ltr-after{
    0% {transform: translateX(-100%)}
    20% {transform: translateX(101%)}
    100% {transform: translateX(101%)}
}

@keyframes a-ltr-before{
    0% {transform: translateX(0)}
    20% {transform: translateX(200%)}
    100% {transform: translateX(200%)}
}

header i {
    text-align: right;
    opacity: 0.8;
    color: white;
    font-size: 21px;
    cursor: pointer;
    float: right;
    margin: 18px 7px;
    position: relative;
    left: 10px;
    top: 2px;
    -webkit-app-region: no-drag;

    transition: 0.2s ease-out opacity;
}

header i:hover {
    opacity: 1;
}

#settingswindow {
    visibility: hidden;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(66, 66, 66, 0.3);
}

#settingswindow #settings-page {
    background-color: white;
    border-radius: 10px;
    width: 560px;
    height: 540px;
    padding: 10px;
    cursor: default;
    border-bottom: 3px solid grey;
    position: relative;
    top: 66px;
}

#settingswindow #settings-page .close {
    position: absolute;
    color: #7A5980;
    right: 5px;
    top: 3px;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    z-index: 999;
}

#settingswindow #settings-page .navbar {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px 10px 10px 7px;
    background-color: #BC7C9C;
    height: 100%;
    width: 30%;
    color: white;
}

#settingswindow #settings-page .navbar h2 {
    font-weight: bold;
    margin: 40px 0px 0px 0px;
}

#settingswindow #settings-page .navbar h4 {
    margin: 0px 0px 40px 0px;
    font-weight: lighter;
    font-size: 10px;
}


#settingswindow #settings-page .navbar span {
    display: block;
    width: 100%;
    border-top: 1px solid #ffffff54;
    padding: 10px 0px;
    cursor: pointer;
    color: #efefef;
    font-weight: bold;
}

#settingswindow #settings-page .navbar span a {
    position: relative;
    left: 0px;

    transition: 0.1s ease-out left;
}

#settingswindow #settings-page .navbar span:hover > a {
    left: 3px;
}

#settingswindow #settings-page .content {
    position: absolute;
    width: 70%;
    height: calc(100% - 20px);
    right: 0px;
    top: 0px;
    padding-top: 20;
}

#settingswindow #settings-page .content h2 {
    color: #3B3B58;
    text-align: left;
    margin-left: 10%;
}

#settingswindow #settings-page .content h3 {
    font-weight: normal;
    text-align: left;
    margin: 0px 0px 10px 13%;
}

#settingswindow #settings-page .content h5 {
    font-weight: normal;
    padding: 0px 40px;
    text-align: justify;
    color: #777777;
}

#settingswindow #settings-page .content select {
    outline: none;
    padding: 3px 20px 3px 5px;
    border-radius: 10px;
}

#settingswindow #settings-page .content ul {
    text-align: left;
    margin-left: 20px;
    color: #777777;
}

#settingswindow #settings-page .content a {
    text-decoration: none;
    color: #A96DA3;
    font-weight: bold;
    position: relative;
    left: 0px;
    cursor: pointer;

    transition: 0.2s ease-out left;
}

#settingswindow #settings-page .content a:hover {
    left: 10px;
}

#settingswindow #settings-page .content .checkbox {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: rgb(255, 107, 129);
    color: white;
    cursor: pointer;
    line-height: 1;

    transition: 0.2s ease-in;
}

#settingswindow #settings-page .content .checkbox:hover {
    border-radius: 10px;
}

#settingswindow #settings-page .content .checkbox i {
    margin-left: 5px;
    position: relative;
    top: 1px;
}

#settingswindow #settings-page .content #s-credits .bottom {
    position: absolute;
    bottom: 30px;
    padding: 0px 30px;
}

#settingswindow #settings-page .content #s-credits .bottom div {
    margin-top: 10px;
    padding: 8px 0px;
    width: 346px;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    background: linear-gradient(90deg, rgba(75,33,33,1) 0%, rgb(181 0 43) 100%);
    cursor: pointer;
    transition: 0.3s ease-out border-radius;
}

#settingswindow #settings-page .content #s-credits .bottom div:hover {
    border-radius: 15px;
}

#edititemwindow {
    visibility: hidden;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(66, 66, 66, 0.3);
}

#edititemwindow #edititemimage {
    border-radius: 3px 3px 0px 0px;;
    margin-right: 20px;
    width: 100px;
}

#edititemwindow #edititem-page {
    background-color: white;
    border-radius: 10px;
    width: 560px;
    height: 610px;
    padding: 10px;
    cursor: default;
    border-bottom: 3px solid grey;
    position: relative;
    top: 66px;
}

#edititemwindow #edititem-page h1 {
    color: #3B3B58;
}

#edititemwindow #edititem-page h2 {
    position: relative;
    top: -55px;
    left: 120px;
    font-weight: normal;
    display: inline;
}

#edititemwindow #edititem-page #editfav {
    background-color: rgb(255, 107, 129);
    color: white;
    text-align: center;
    padding: 5px 0px;
    width: 100px;
    position: relative;
    top: -34px;
    border-radius: 0px 0px 7px 7px;
    cursor: pointer;

    transition: 0.2s ease-in;
}

#edititemwindow #edititem-page .close {
    position: absolute;
    color: #7A5980;
    right: 5px;
    top: 3px;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    z-index: 999;
}

#edititemwindow #edititem-page h2 #editcolorbutton {
    padding: 1px 9px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    background: linear-gradient(to right, #4776E6, #8e54e9);
}

#edititemwindow #edititem-page #colorpicker1 {
    position: absolute;
    width: 200px;
    top: 130px;
    left: 220px;
    z-index: 1;
    box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.41);
    
    visibility: hidden;
}

#edititemwindow #edititem-page #colorpicker1 li {
    background-color: grey;
    list-style-type: none;
    padding: 1px 9px;
    cursor: pointer;

    display: none;
    transition: 0.1s ease-out padding;
}

#edititemwindow #edititem-page #colorpicker1 li:hover {
    padding: 1px 15px;
}

#edititemwindow #edititem-page .edit-ie-footer {
    bottom: 40px;
    position: absolute;
    left: 0px;
    padding: 0px 30px;
}

#edititemwindow #edititem-page .edit-ie-footer h4 {
    font-weight: bold;
    text-align: center;
    margin: 10px 0px;
}

#edititemwindow #edititem-page .edit-ie-footer h2 {
    position: unset;
    display: block;
    text-align: center;
    font-weight: bold;
    color: #A96DA3;
    margin: 10px 0px 0px 0px;
}

#edititemwindow #edititem-page .edit-ie-footer h5 {
    margin: 5px 0px 15px 0px;
    text-align: center;
    color: #3e3e3e;
}

#edititemwindow #edititem-page .edit-ie-footer .editpricecontainer {
    background-color: #eaeaea;
    border-radius: 10px;
    padding: 10px;
}

#edititemwindow #edititem-page .edit-ie-footer .editpricecontainer .price-left {
    display: inline-block;
}

#edititemwindow #edititem-page .edit-ie-footer .editpricecontainer .price-radio {
    padding: 3px 10px;
    margin: 3px 0px;
    background-color: #ff6b81;
    border-radius: 7px;
    color: white;
    cursor: pointer;
    box-shadow: none;

    transition: 0.3s ease-out;
}

#edititemwindow #edititem-page .edit-ie-footer .editpricecontainer .price-radio:hover {
    box-shadow: 0px 0px 9px -3px rgba(0,0,0,0.73);
}

#edititemwindow #edititem-page .edit-ie-footer .editpricecontainer .price-radio i {
    margin-right: 7px;
}

#edititemwindow #edititem-page .edit-ie-footer .editpricecontainer #price-right {
    display: inline-block;
    position: absolute;
    right: 30px;
    top: 105px;
    height: 84px;
    width: 243px;
    padding: 10px 20px;

    transition: 0.2s ease-in;
}

#edititemwindow #edititem-page .edit-ie-footer .editpricecontainer #price-right input {
    width: 100px;
    outline: none;
    padding: 3px 10px;
    font-family: 'Ubuntu', sans-serif;
    border: 1px solid #3B3B58;

    transition: 0.3s ease-out border;
}

#edititemwindow #edititem-page .edit-ie-footer .editpricecontainer #price-right input:hover {
    border: 1px solid #A96DA3;
}

#edititemwindow #edititem-page .edit-ie-footer .editpricecontainer #price-right input:focus {
    border: 1px solid #A96DA3;
}

#edititemwindow #edititem-page .edit-ie-footer .editpricecontainer #price-right input[type=number]::-webkit-inner-spin-button, 
#edititemwindow #edititem-page .edit-ie-footer .editpricecontainer #price-right input[type=number]::-webkit-outer-spin-button { 
    appearance: none;
    margin: 0; 
}

#edititemwindow #edititem-page .edit-ie-footer .editpricecontainer .separator {
    display: inline-block;
    width: 2px;
    height: 68px;
    background-color: #777777;
    margin-left: unset;
    position: relative;
    left: 17px;
}

#edititemwindow #edititem-page .edit-ie-footer .separator {
    width: 80%;
    margin-left: 10%;
    height: 2px;
    background-color: #7A5980;
}


#edititemwindow #edititem-page .edit-ie-footer #edititembutton {
    background: linear-gradient(to right, #7A5980, #3B3B58);
    font-weight: bold;
    color: white;
    border-radius: 15px;
    font-size: 22px;
    padding: 20px 40px;
    text-align: center;
    cursor: pointer;
    width: 30%;
    display: inline-block;

    transition: ease-out 0.5s border-radius;
}

#edititemwindow #edititem-page .edit-ie-footer #edititembutton:hover {
    border-radius: 25px;
}

#edititemwindow #edititem-page .edit-ie-footer .cancel-edititembutton {
    background: linear-gradient(to right, #992f2f, #ae3333, #c43636, #da3a3a, #f03d3d);
    font-weight: bold;
    color: white;
    border-radius: 15px;
    font-size: 22px;
    padding: 20px 40px;
    text-align: center;
    cursor: pointer;
    width: 30%;
    display: inline-block;

    transition: ease-out 0.5s border-radius;
}

#edititemwindow #edititem-page .edit-ie-footer .cancel-edititembutton:hover {
    border-radius: 25px;
}

#additemwindow {
    visibility: hidden;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(66, 66, 66, 0.3);
}

#additemwindow .aiw-container {
    position: relative;
    top: -50px;
    -webkit-app-region: no-drag;
}

#additemwindow .aiw-container #itemsearch {
    resize: none;
    border: none;
    border-bottom: 3px solid gray;
    height: 40px;
    width: 500px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    -moz-appearance: none;
    outline: 0px none transparent;

    transition: ease border-color 0.5s;
}

#additemwindow .aiw-container #itemsearch:focus {
    outline: 0;
    border-color: #BC7C9C;
}

#additemwindow .aiw-container .close {
    background-color: white;
    height: 37px;
    width: 40px;
    display: inline-block;
    position: relative;
    left: 4px;
    top: -8px;
    border-bottom: 3px solid gray;
    border-radius: 10px 0px 0px 10px;
    cursor: pointer;
    color: #3B3B58;
}

#additemwindow .aiw-container .close:hover {
    border-color: #BC7C9C;
    color: #BC7C9C;
}

#additemwindow .aiw-container .close i {
    position: relative;
    top: 8px;
    font-size: 22px;
}

#additemwindow .aiw-container .search {
    background-color: white;
    height: 37px;
    width: 40px;
    display: inline-block;
    position: relative;
    left: -4px;
    top: -8px;
    border-bottom: 3px solid gray;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
    color: #3B3B58;
}

#additemwindow .aiw-container .search:hover {
    border-color: #BC7C9C;
    color: #BC7C9C;
}

#additemwindow .aiw-container .search i {
    position: relative;
    top: 8px;
    font-size: 22px;
}

#additemwindow #aiw-loading {
    width: 50px;
    visibility: hidden;
    position: absolute;
    top: 3px;
    right: 310px;
}

#additemwindow #iteminfo {
    visibility: hidden;
    background-color: white;
    border-radius: 10px;
    width: 560px;
    height: 440px;
    padding: 10px;
    cursor: default;
    border-bottom: 3px solid grey;
}

#additemwindow #iteminfo h1 {
    color: #3B3B58;
}

#additemwindow #iteminfo #item-name {
    position: relative;
    top: -54px;
    display: inline;
    font-size: 40px;
}

#additemwindow #iteminfo #typerarity {
    position: relative;
    top: -55px;
    left: 125px;
    background: red;
    color: white;
    padding: 3px 10px;
    border-radius: 7px;
    font-weight: 500;
}

#additemwindow #iteminfo #colorpicker {
    position: absolute;
    width: 244px;
    top: 212px;
    left: 528px;
    z-index: 1;
    box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.41);

    visibility: hidden;
}

#additemwindow #iteminfo #colorpicker li {
    background-color: grey;
    list-style-type: none;
    padding: 1px 9px;
    cursor: pointer;

    display: none;
    transition: 0.1s ease-out padding;
}

#additemwindow #iteminfo #colorpicker li:hover {
    padding: 1px 15px;
}

#additemwindow #iteminfo #itemimage {
    border-radius: 3px;
    margin-right: 20px;
    width: 100px;
    opacity: 0;
}

#additemwindow #iteminfo .colorcontainer {
    background-color: #efefef;
    padding: 15px 40px;
    border-radius: 10px;
}

#additemwindow #iteminfo h2 {
    display: inline;
}

#additemwindow #iteminfo h2 #colorbutton {
    padding: 1px 9px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    background: linear-gradient(to right, #4776E6, #8e54e9);
}

.ie-footer h4 {
    font-weight: bold;
    text-align: center;
}

.ie-footer .additembutton {
    background: linear-gradient(to right, #7A5980, #3B3B58);
    font-weight: bold;
    color: white;
    border-radius: 15px;
    font-size: 22px;
    padding: 20px 40px;
    text-align: center;
    cursor: pointer;

    transition: ease-out 0.5s border-radius;
}

.ie-footer .additembutton:hover {
    border-radius: 25px;
}

#welcome-screen {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #7A5980;

    display: none;
}

#welcome-screen .title-container {
    position: relative;
    top: 250px;

    animation: wt-enter 3s ease-out forwards;
}

@keyframes wt-enter {
    0% { opacity: 0; }
    40% { opacity: 1; top: 250px; }
    100% { top: 50px; }

}

#welcome-screen .title-container img {
    height: 34px;
    position: relative;
    top: 2px;
    margin-right: 10px;
}

#welcome-screen .title-container h1 {
    color: white;
    font-size: 74px;
    text-align: center;

}

#welcome-screen .title-container h2 {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 42px;
    opacity: 0.7;
    position: relative;
    top: -50px;
}

#welcome-screen .login-container {
    width: 400px;
    height: 250px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    opacity: 0;
    
    animation: ls-enter 0.7s ease-out 3.1s forwards;
}

@keyframes ls-enter {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

#welcome-screen .login-container h3 {
    font-weight: lighter;
    color: #3B3B58;
    position: relative;
    top: 15px;
    margin-bottom: 30px;
}

#welcome-screen .login-container h5 {
    font-weight: lighter;
}

#welcome-screen .login-container .lc-button {
    padding: 20px 0px;
    width: 300px;
    font-weight: bold;
    font-size: 22px;
    margin: 10px;
    border-radius: 15px;
    cursor: pointer;

    transition: ease-out 0.7s border-radius;
}

#welcome-screen .login-container #lc-username-field {
    position: relative;
    top: -200px;
    border: none;
    outline: 0px none transparent;
    appearance: none;
    width: 300px;
    font-weight: bold;
    font-size: 22px;
    border-radius: 15px;
    height: 66px;
    text-align: center;
    background: linear-gradient(to right, #7A5980, #3B3B58);
    color: white;
    display: none;
}

#welcome-screen .login-container .lc-button:hover {
    border-radius: 20px;
}

#welcome-screen .login-container .lc-online {
    background: linear-gradient(to right, #7A5980, #3B3B58);
    color: white;
}

#welcome-screen .login-container .lc-offline {
    background-color: white;
}

footer {
    background-color: #a96da3f2;
    backdrop-filter: blur(2px);
    position: fixed;
    width: 96%;
    height: 80px;
    left: 2%;
    bottom: 23px;
    border-radius: 10px;
    display: table;
    z-index: 0;
}

footer span {
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;
    font-size: 26px;
    color: white;
    height: 100%;
    text-align: center;
    margin: 0px 25px;
    position: relative;
    top: -34px;
}

footer .new-item {
    font-weight: lighter;
    font-size: 20px;
    line-height: 3.9;
    top: -36;
    cursor: pointer;
    margin: 0;
    padding: 0px 25px;
}

footer .new-item:hover {
    background-color: #7e5279;
}

footer #selectedtitle {
    color: rgb(201, 201, 201);
    font-size: 23px;
    line-height: 3.5;
    margin-right: 253px;
    width: 206px;
    white-space: nowrap;

    transition: 0.2s ease-in;
}

footer .right {
    position: absolute;
    right: 3;
    bottom: -35;
}


footer .right .separator {
    height: 67px;
}

footer .f-action {
    margin: 0px 12px;
    cursor: pointer;
    color: rgb(201, 201, 201);
    cursor: not-allowed;

    transition: 0.2s ease-in;
}

footer .f-white {
    height: 54px;
    padding: 26px 25px 0px 25px;
    cursor: pointer;
    color: white;
    margin: 0px !important;
}

footer .f-white i {
    position: relative;
    top: 0px;
}

footer .separator {
    display: inline-block;
    width: 1px;
    height: 80%;
    background-color: white;
    margin: 9px 0px;
    opacity: 0.5;
}

#inv-tutorial {
    position: relative;
    top: 150px;
    font-size: 46px;
    font-weight: bold;
    color: #bfbfbf;
}

#inv-tutorial h4 {
    font-weight: normal;
    color: #bc7c9c;
    margin-top: 10px;
    font-size: 22px;
}

#inv-tutorial a {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

#inv-tutorial a:hover {
    text-decoration: none;
}

#inv-container {
    padding: 20px 20px 53px 20px;
    position: absolute;
    bottom: 0px;
    z-index: -3;
    height: 667px;
    width: 1110px;
    overflow-y: auto;
    overflow-x: hidden;
}

.bottom-gradient {
    z-index: -2;
    width: 100%;
    height: 130px;
    opacity: 0.9;
    position: absolute;
    left: 0px;
    bottom: 0px;
    pointer-events: none;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 54%, rgba(255,255,255,1) 100%);
}

#inv-container .item {
    width: 220px;
    height: 100px;
    background-color: rgb(238, 238, 238);
    border-radius: 20px;
    padding: 10px 10px;
    margin: 15px;
    display: inline-flex;
    cursor: pointer;
}

#inv-container .item:hover > .selectcontainer {
    opacity: 1;
}

#inv-container .item:hover > .info .itemprice {
    opacity: 0;
}

#inv-container .item:hover > .info .itempercent {
    opacity: 1;
}

#inv-container .item .selectcontainer {
    position: absolute;
    opacity: 0;

    transition: 0.2s ease-in opacity;
}

#inv-container .item .selectcontainer i {
    position: relative;
    color: white;
    font-size: 23px;
    top: 70px;
    left: 9px;
}

#inv-container .item .itemimage {
    width: 100px;
    border-radius: 15px;
}

#inv-container .item .info {
    margin-left: 10px;
    width: 120px;
    display: block;
    position: relative;
}

#inv-container .item .info .itemname {
    font-weight: bold;
    height: fit-content;
}

#inv-container .item .info .bigitemname {
    font-weight: bold;
    height: fit-content;
    font-size: 80%;
}

#inv-container .item .info .itemcolor {
    color: white;
    background-color: rgb(49, 49, 49);
    padding: 5 10;
    height: fit-content;
    border-radius: 15px;
    margin-top: 7px;
    display: block;
    text-align: center;
}

#inv-container .item .info .itemtype {
    visibility: hidden;
    color: black;
    padding: 5px 10px;
    margin: 7px 25px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    width: 170px;
    background-color: rgb(219, 219, 219);
    position: absolute;
    top: -11px;
    left: 135px;
}

#inv-container .item .info .itemprice {
    position: absolute;
    bottom: 0px;
    font-weight: bold;
    opacity: 1;
    transition: 0.2s ease opacity;
}

#inv-container .item .info .itempercent {
    position: absolute;
    bottom: 0px;
    font-weight: bold;
    opacity: 0;
    transition: 0.2s ease opacity;
}

.alertbox {
    padding: 7px 10px;
    font-weight: bold;
    background-color: #e74c3c;
    color: white;
    position: fixed;
    top: 75px;
    left: 10px;
    border-radius: 7px;
    opacity: 0;
}

.dialogbox-container {
    display: none;
    opacity: 0;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(66, 66, 66, 0.3);
}

.dialogbox-container .dialogbox {
    position: fixed;
    width: 400px;
    height: 270px;
    left: calc(50% - 200px);
    top: 80px;
    background-color: white;
    border-bottom: 4px solid #BC7C9C;
    border-radius: 15px;
    padding: 30px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color: #3B3B58;
}

.dialogbox-container .dialogbox p {
    font-weight: normal;
    font-size: 18;
    color: #828282;
}

.dialogbox-container .dialogbox .bottom {
    position: absolute;
    bottom: 30px;
    display: -webkit-box;
}

.dialogbox-container .dialogbox .bottom .cancel {
    width: 190px;
    height: 45px;
    background-color: #3B3B58;
    color: white;
    border-radius: 20px;
    padding-top: 16px;
    cursor: pointer;
    margin-right: 20px;
    font-size: 22px;
    transition: 0.2s ease-out border-radius;
}

.dialogbox-container .dialogbox .bottom .cancel:hover {
    border-radius: 15px;
}

.dialogbox-container .dialogbox .bottom .confirm {
    width: 190px;
    height: 45px;
    background-color: #BC7C9C;
    color: white;
    border-radius: 20px;
    padding-top: 16px;
    font-size: 22px;
    cursor: pointer;
    transition: 0.2s ease-out border-radius;
}

.dialogbox-container .dialogbox .bottom .confirm:hover {
    border-radius: 15px;
}

#update-available {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(0.5turn, #7A5980, #A96DA3);
    z-index: 1000;
    color: white;
    text-align: center;
}

#update-available img {
    margin-top: 250px;
    width: 100px;
}

#update-available h2 {
    font-weight: lighter;
}

#update-available h5 {
    font-weight: lighter;
    position: fixed;
    bottom: 0px;
    right: 30px;
}